.header {
    width: 100%;
    height: 10em;  
    position: relative; /* Set relative positioning for anchoring children */
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 0;
    background-color: #005DAA; /* Optional: background color for the header */
}

.image {
    width: 100%; /* Adjust image size as needed */
    height: 9em;
    object-fit: contain;
}

.leftImage {
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%); /* Center the image vertically */
    width: auto; /* Adjust image size as needed */
    height: 10em;
    object-fit: contain;
  }

  
.rightImage {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%); /* Center the image vertically */
    width: auto; /* Adjust image size as needed */
    height: 10em;
    object-fit: contain;
  }