.container {
    width: 100%;
    display: flex;
    .image {
        width: 30%;
        height: auto;
        object-fit: contain;
        margin: 20px;
    }

    .linkList {
        margin: 20px;

        .link {
            list-style-type: none;
            text-decoration: underline;
            cursor: pointer;
        }
    }
}